<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--Windows服务配置节注册。-->
    <section name="WinService" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--Job 开关配置节注册。-->
    <section name="WinServiceJobs" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--日志配置节注册。-->
    <section name="Logs" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--流程引擎Windows服务配置节注册。-->
    <section name="WinFlowEngineService" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--Windows服务配置节。-->
  <WinService>
    <!--Windows服务名称。-->
    <add key="iPower.ServiceName" value="iPowerIRMPFlowEngineWindowsService"/>
    <!--Windows服务显示名称。-->
    <add key="iPower.DisplayName" value="iPower IRMP Flow Engine Windows Service"/>
    <!--Windows服务描述。-->
    <add key="iPower.Description" value="iPower IRMP流程引擎Windows服务"/>
    <!--运行服务应用程序时将使用的用户帐户。-->
    <add key="iPower.UserName" value=""/>
    <!--运行服务应用程序时所使用用户帐户关联的密码。-->
    <add key="iPower.Password" value=""/>
    <!--日志文件名称。-->
    <add key="iPower.LogFileHead" value="iPowerFlowEngineServiceLog"/>
  </WinService>

  <!--Job 开关配置节。-->
  <WinServiceJobs>
    <!--0表示停用，1表示启用。-->
    <add key="WinFlowEngineService" value="1"/>
  </WinServiceJobs>

  <!--流程引擎Windows服务配置节-->
  <WinFlowEngineService>
    <!--模块程序集。-->
    <add key="iPower.ModuleAssembly" value="iPower.IRMP.Flow.WinService.WinFlowEngineService,iPower.IRMP.Flow.WinService"/>
    <!--用户信息接口实现(类，程序集)-->
    <!--<add key="OrgFactoryAssembly" value="iPower.IRMP.Org.Engine.OrgFactory,iPower.IRMP.Org.Engine"/>-->
    <add key="OrgFactoryAssembly" value="http://irmp.yaesoft.net/Org/OrgFactoryProviderService.asmx"/>
    <!--安全管理接口实现(类，程序集)-->
    <!--<add key="SecurityFactoryAssembly" value="iPower.IRMP.Security.Engine.SecurityFactoryProvider,iPower.IRMP.Security.Engine"/>-->
    <add key="SecurityFactoryAssembly" value="http://irmp.yaesoft.net/Security/SecurityFactoryProviderService.asmx"/>
    <!--日志文件名称。-->
    <add key="iPower.LogFileHead" value="WinFlowEngineServiceLog"/>
    <!--运行周期，以秒为单位。-->
    <add key="iPower.RunCycle" value="5"/>
    <!--开始时间HH:mm:ss（或yyyy-MM-dd HH:mm:ss）-->
    <add key="iPower.StartTime" value="2005-06-15 00:00:01"/>
    <!--服务结束时间yyyy-MM-dd HH:mm:ss，可以不设置-->
    <add key="iPower.EndTime" value="9999-12-31 23:59:59"/>
    
    <!--数据库连接配置-->
    <add key="iPower.DbConnectionString" value="DefaultDbServer"/>
  </WinFlowEngineService>

  <!--数据库连接配置节-->
  <connectionStrings>
    <!--默认数据库-->
    <add name="DefaultDbServer" connectionString="server=VMPC,1600;uid=sa;pwd=sa;database=Yaesoft_IRMP;" providerName="SQLServer" />
  </connectionStrings>


  <!--日志配置节。-->
  <Logs>
    <!--日志文件存储目录。-->
    <add key="iPower.Logs.StoragePath" value="D:\WorkSpace\IRMP\Logs"/>
    <!--内容分隔符。-->
    <add key="iPower.Logs.IntervalMark" value="*"/>
    <!--内容分隔符长度。-->
    <add key="iPower.Logs.IntervalMarkLength" value="60"/>
    <!--时间记录格式。-->
    <add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <!--日志文件头名称。（默认）-->
    <add key="iPower.Logs.FileHead" value="iPowerWinServLog"/>
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Week"/>
  </Logs>
</configuration>