<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册流程服务代理客户端配置-->
    <section name ="FlowPoxy" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--流程服务代理客户端-->
  <FlowPoxy>
    <!--流程服务URL。-->
    <add key="FlowServiceURL" value="http://irmp.yaesoft.net/flow/FlowService.asmx"/>
    <!--任务服务URL。-->
    <add key="TaskServiceURL" value="http://irmp.yaesoft.net/Flow/TaskService.asmx"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="FlowServiceLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </FlowPoxy>
</configuration>