<?xml version="1.0"?>
<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册安全管理代理客户端配置-->
    <section name ="SecurityPoxy" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--安全管理代理客户端配置-->
  <SecurityPoxy>
    <!--安全模块服务URL。-->
    <add key="SecurityFactoryUrl" value="http://irmp.yaesoft.net/security/SecurityFactoryProviderService.asmx"/>
    <!--安全权限服务URL。-->
    <add key="SecurityPermissionUrl" value="http://irmp.yaesoft.net/security/SecurityPermissionFactoryService.asmx"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SecurityPoxyLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SecurityPoxy>
</configuration>
