<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册系统管理配置-->
    <section name ="SysMgr" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--注册Org代理客户端配置-->
    <!--<section name ="OrgPoxy" type="iPower.Configuration.iPowerSection,iPower"/>-->
    <!--注册安全管理代理客户端配置-->
    <!--<section name ="SecurityPoxy" type="iPower.Configuration.iPowerSection,iPower"/>-->
  </configSections>

  <!--系统管理-->
  <SysMgr>
    <!--系统标示-->
    <add key="iPower.SystemID" value="AS000000000000000000000000000000"/>
    <!--系统名称-->
    <add key="iPower.SystemName" value="系统管理"/>
    <!--用户信息程序集-->
    <!--<add key="OrgFactoryAssembly" value="iPower.IRMP.Org.Poxy.OrgFactory,iPower.IRMP.Org.Poxy"/>-->
    <add key="OrgFactoryAssembly" value="Yaesoft.SFIT.Engine.OrgFactory,Yaesoft.SFIT.Engine" />
    <!--应用系统注册数据-->
    <!--<add key="SecurityFactoryAssembly" value="iPower.IRMP.Security.Poxy.SecurityFactory,iPower.IRMP.Security.Poxy"/>-->
    <add key="SecurityFactoryAssembly" value="iPower.IRMP.Security.Engine.SecurityFactoryProvider,iPower.IRMP.Security.Engine" />
    <!--单点登录客户端程序集。-->
    <add key="SSOClientUserLoginAssembly" value="iPower.IRMP.SSOClient.SSOClientModule,iPower.IRMP.SSOClient"/>
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\Sys\App_Data\IRMP_SysMgrModuleConfig.xml"/>
  </SysMgr>

  <!--Org代理客户端配置-->
  <!--<OrgPoxy>
    --><!--Org服务URL。--><!--
    <add key="OrgFactoryServiceURL" value="http://irmp.yaesoft.net/org/OrgFactoryProviderService.asmx"/>
    --><!--日志文件头--><!--
    <add key="iPower.Logs.FileHead" value="OrgPoxyLog" />
    --><!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)--><!--
    <add key="Jeason.Logs.LogFileRule" value="Hour" />
  </OrgPoxy>-->
  <!--安全管理代理客户端配置-->
  <!--<SecurityPoxy>
    --><!--安全模块服务URL。--><!--
    <add key="SecurityFactoryUrl" value="http://irmp.yaesoft.net/security/SecurityFactoryProviderService.asmx"/>
    --><!--安全权限服务URL。--><!--
    <add key="SecurityPermissionUrl" value="http://irmp.yaesoft.net/security/SecurityPermissionFactoryService.asmx"/>
    --><!--日志文件头--><!--
    <add key="iPower.Logs.FileHead" value="SecurityPoxyLog" />
    --><!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)--><!--
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SecurityPoxy>-->
</configuration>
