<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册Security配置-->
    <section name="Security" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--注册Org代理客户端配置-->
    <!--<section name ="OrgPoxy" type="iPower.Configuration.iPowerSection,iPower"/>-->
  </configSections>

  <!--安全管理-->
  <Security>
    <!--系统标示-->
    <add key="iPower.SystemID" value="AH000000000000000000000000000000"/>
    <!--系统名称-->
    <add key="iPower.SystemName" value="安全管理"/>
    <!--用户信息接口-->
    <!--<add key="OrgFactoryAssembly" value="iPower.IRMP.Org.Poxy.OrgFactory,iPower.IRMP.Org.Poxy"/>-->
    <add key="OrgFactoryAssembly" value="Yaesoft.SFIT.Engine.OrgFactory,Yaesoft.SFIT.Engine" />
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\Security\App_Data\IRMP_SecurityModuleConfig.xml"/>
  </Security>

  <!--Org代理客户端配置-->
  <!--<OrgPoxy>
    --><!--Org服务URL。--><!--
    <add key="OrgFactoryServiceURL" value="http://irmp.yaesoft.net/org/OrgFactoryProviderService.asmx"/>
    --><!--日志文件头--><!--
    <add key="iPower.Logs.FileHead" value="OrgPoxyLog" />
    --><!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)--><!--
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </OrgPoxy>-->
</configuration>
