<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册Flow配置-->
    <section name ="Flow" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--流程管理系统-->
  <Flow>
    <!--系统标示-->
    <add key="iPower.SystemID" value="AF000000000000000000000000000000"/>
    <!--系统名称-->
    <add key="iPower.SystemName" value="流程管理系统"/>
    <!--用户信息接口实现(类，程序集)-->
    <add key="OrgFactoryAssembly" value="iPower.IRMP.Org.Engine.OrgFactory,iPower.IRMP.Org.Engine"/>
    <!--安全管理接口实现(类，程序集)-->
    <add key="SecurityFactoryAssembly" value="iPower.IRMP.Security.Engine.SecurityFactoryProvider,iPower.IRMP.Security.Engine"/>
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\Flow\App_Data\IRMP_FlowModuleConfig.xml"/>
  </Flow>
</configuration>
