<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--注册配置节点-->
  <configSections>
    <!--注册IRMP-->
    <section name="IRMP" type="iPower.Configuration.iPowerSection,iPower" />
    <!--注册资源配置-->
    <section name="Resources" type="iPower.Configuration.iPowerSection,iPower" />
    <!--注册Logs-->
    <section name="Logs" type="iPower.Configuration.iPowerSection,iPower" />
    <!--单点登录客户端配置注册-->
    <section name="SSOClient" type="iPower.Configuration.iPowerSection,iPower" />
    <!--注册安全管理客户端配置-->
    <section name ="SecurityClient" type="iPower.Configuration.iPowerSection,iPower"/>
    <!--注册附件存储配置-->
    <section name ="FileStorage" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--IRMP配置节-->
  <IRMP>
    <!--系统标识-->
    <add key="iPower.SystemID" value="A0000000000000000000000000000000" />
    <!--系统名称-->
    <add key="iPower.SystemName" value="信息和资源管理平台(Information and Resource Manage Portal)" />
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\App_Data\IRMP_ModuleConfig.xml" />
  </IRMP>
  
  <!--资源配置节  -->
  <Resources>
    <!--资源存储地址-->
    <add key="iPower.Resources.Storage" value="\App_Data\IRMP_Resources.xml" />
  </Resources>

  <!--附件存储配置-->
  <FileStorage>
    <!--文件存储的实现工厂程序集-->
    <add key="iPower.FileStorageFactoryAssembly" value="iPower.FileStorage.FileSystem.FileStorageFactory,iPower.FileStorage"/>
    <!--数据连接字符串 -->
    <!--<add key="iPower.DbConnectionString" value="DefaultDbServer"/>-->
    <add key="iPower.DbConnectionString" value="D:\uploadFiles"/>
  </FileStorage>

  <!--日志配置节-->
  <Logs>
    <!--日志文件存放目录-->
    <add key="iPower.Logs.StoragePath" value="D:\WorkSpace\IRMP\Logs" />
    <!--间隔符-->
    <add key="iPower.Logs.IntervalMark" value="#" />
    <!--间隔符长度-->
    <add key="iPower.Logs.IntervalMarkLength" value="70" />
    <!--日期格式-->
    <add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--默认日志文件-->
    <add key="iPower.Logs.FileHead" value="IRMPWebSiteLog" />
    <!-- 日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Month"/>
  </Logs>
  
  <!--安全管理客户端配置-->
  <SecurityClient>
    <!--权限模块程序集配置-->
    <add key="SecurityPermissionFactoryAssembly" value="http://irmp.yaesoft.net/Security/SecurityPermissionFactoryService.asmx"/>
    <!--安全模块程序集配置-->
    <add key="SecurityFactoryAssembly" value="http://irmp.yaesoft.net/security/SecurityFactoryProviderService.asmx"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SecurityClientLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SecurityClient>

  <!--单点登录客户端配置-->
  <SSOClient>
    <!--用户验证忽略的页面的正则表达式-->
    <add key="iPower.SSO.IgnoredUrl" value="\/WebResource.axd($|\?.*);Sys/.*login\.aspx($|\?RequestUrl=.*);ErrorPage\.aspx$;Sys/ForgetPassword\.aspx($|\?.*);\.asmx($|[/\?].*);\.ashx($|[/\?].*)"/>
    <!--登录页面URL。-->
    <add key="iPower.SSO.LoginURL" value="http://irmp.yaesoft.net/sys/frmLogin.aspx" />
    <!--SSO服务器地址。-->
    <add key="iPower.SSO.ServiceURL" value="http://sso.yaesoft.net/service.asmx"/>
    <!--系统ID。-->
    <add key="iPower.SystemID" value="AS000000000000000000000000000000"/>
    <!--访问授权密码。-->
    <add key="iPower.AuthPwd" value="123456"/>
    <!--本地数据存储方式-->
    <add key="iPower.SSO.LocalStorage" value="Cookies"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SSOClientLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SSOClient>

  <!--默认配置节-->
  <appSettings>
    <!--数据连接字符串。 -->
    <add key="iPower.DbConnectionString" value="DefaultDbServer" />
    <!--脚本资源。
    <add key="iPower.WebScriptPath" value="/Include/Default.js"/>
    -->
    <!--版权说明。-->
    <add key="iPower.CopyRight" value="Copyright(C)2006-2011 By &lt;a href=&quot;http://www.yaesoft.com&quot; target=&quot;_blank&quot; >&lt;B>长沙亚软软件有限公司&lt;/B>&lt;/a> All Rights Reserved" />
    <!--首页地址。-->
    <add key="iPower.MyDefaultURL" value="/Default.aspx" />
    <!--顶部菜单。-->
    <add key="iPower.TopBannerMenus" value="安全管理|_self|/Security/default.aspx;"/>
    <!--系统注销页面。-->
    <add key="iPower.LogoutURL" value="/Sys/frmLogout.aspx" />
    <!--EffectImageURL。-->
    <add key="iPower.EffectImageURL" value="/Images/loading.gif" />
    <!--主菜单文件地址-->
    <add key="iPower.MainMenuDefineConfigFile" value="\App_Data\IRMP_ModuleConfig.xml" />
    <!--WebPart管理程序集。-->
    <add key="iPower.WebPartMgrAssembly" value="iPower.IRMP.SysMgr.Engine.WebPartFactory,iPower.IRMP.SysMgr.Engine"/>
    <!--日志记录。-->
    <add key="iPower.DbCommonLogAssembly" value="iPower.IRMP.Engine.CreateDbCommonLogProvider,iPower.IRMP.Engine"/>
  </appSettings>
  
  <!--数据库连接配置节-->
  <connectionStrings>
    <!--默认数据库-->
    <add name="DefaultDbServer" connectionString="server=yaesoft-dev,1600;uid=sa;pwd=sa;database=Yaesoft_IRMP;" providerName="SQLServer" />
  </connectionStrings>

  <system.web>
    <!--设置默认主题-->
    <pages theme="Summer" />
    <!-- 设置 compilation debug="true" 可将调试符号插入已编译的页面中。但由于这会 影响性能，因此只在开发过程中将此值设置为 true。 -->
    <compilation debug="false" />
    <!--通过 <authentication> 节可以配置 ASP.NET 用来识别进入用户的安全身份验证模式。 -->
    <authentication mode="Windows" />
    <!--如果在执行请求的过程中出现未处理的错误，则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，开发人员通过该节可以配置要显示的 html 错误页以代替错误堆栈跟踪。-->
    <customErrors mode="Off"/>
    <!--<httpHandlers>
      --><!--Office在线编辑处理程序注册--><!--
      <add verb="GET,PUT,UNLOCK,LOCK,OPTIONS" path="*.doc" type="iPower.Web.WebDAV.WebDAVHandler,iPower.Web"/>
    </httpHandlers>
    <httpModules>
      --><!--单点登录--><!--
      <add name="SSOClient" type="Yaesoft.IRMP.SSOClient.SSOClientModule,Yaesoft.IRMP.SSOClient"/>
      --><!--安全管理
      <add name="SecurityClient" type="Yaesoft.IRMP.Security.Client.PermissionModule,Yaesoft.IRMP.Security.Client"/>--><!--
    </httpModules>-->
   
    <!--设置上传附件的大小及页面超时时间-->
    <httpRuntime maxRequestLength="1000000" executionTimeout="300"/>
    <!--资源处理 -->
    <globalization culture="auto:zh-CN" uiCulture="auto:zh-CN" requestEncoding="UTF-8" responseEncoding="UTF-8" resourceProviderFactoryType="iPower.Resources.WebResourceProviderFactory,iPower.Resources"/>
  </system.web>
  <!--iis 7-->
  <!--<system.webServer>
    <handlers>
      --><!--Office在线编辑处理程序注册--><!--
      <add name="WebDAVHandler" verb="GET,PUT,UNLOCK,LOCK,OPTIONS" path="*.doc" type="iPower.Web.WebDAV.WebDAVHandler,iPower.Web"/>
    </handlers>
    <modules>
      --><!--单点登录--><!--
      <add name="SSOClient" type="iPower.IRMP.SSOClient.SSOClientModule,iPower.IRMP.SSOClient"/>
    </modules>
  </system.webServer>-->
</configuration>
