<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--注册配置节点-->
  <configSections>
    <!--单点登录服务器端配置注册-->
    <section name="SSOService" type="iPower.Configuration.iPowerSection,iPower" />
    <!--日志配置注册-->
    <!--<section name="Logs" type="iPower.Configuration.iPowerSection,iPower" />-->
  </configSections>

  <!--单点登录服务器端配置-->
  <SSOService>
    <!--提供用户身份认证程序集。-->
    <!--<add key="iPower.SSO.AuthenticationProviderAssembly" value="iPower.IRMP.Org.Engine.AuthenticationProvider,iPower.IRMP.Org.Engine"/>-->
    <!--<add key="iPower.SSO.AuthenticationProviderAssembly" value="http://irmp.yaesoft.net/org/AuthenticationProviderService.asmx"/>-->
    <add key="iPower.SSO.AuthenticationProviderAssembly" value="Yaesoft.Furong.AuthenticationProvider,Yaesoft.Furong" />
    <!--提供授权验证程序集。-->
    <add key="iPower.SSO.AuthorizedToVerifyAssembly" value="iPower.IRMP.SysMgr.Engine.AuthorizedToVerifyProvider,iPower.IRMP.SysMgr.Engine"/>
    <!--<add key="iPower.SSO.AuthorizedToVerifyAssembly" value="http://irmp.yaesoft.net/sys/AuthorizedToVerifyProviderService.asmx"/>-->
    <!--提供票据存储程序集。-->
    <add key="iPower.SSO.SSOTicketDbProviderAssembly" value="iPower.IRMP.Engine.SSOTicketDbProvider,iPower.IRMP.Engine"/>
    <!--<add key="iPower.SSO.SSOTicketDbProviderAssembly" value="http://irmp.yaesoft.net/SSOTicketDbProviderService.asmx"/>-->
    <!--票据有效期长度(分钟)-->
    <add key="iPower.SSO.TicketExpiredInterval" value="120"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SSOServiceLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SSOService>

  <!--日志配置-->
  <!--<Logs>
    --><!--日志文件存储目录--><!--
    <add key="iPower.Logs.StoragePath" value="D:\WorkSpace\IRMP\Logs" />
    --><!--分隔符--><!--
    <add key="iPower.Logs.IntervalMark" value="*" />
    --><!--分隔符长度--><!--
    <add key="iPower.Logs.IntervalMarkLength" value="70" />
    --><!--时间格式--><!--
    <add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    --><!--日志文件头--><!--
    <add key="iPower.Logs.FileHead" value="SSOServiceLog" />
    --><!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)--><!--
    <add key="iPower.Logs.LogFileRule" value="Week" />
  </Logs>-->
</configuration>
