<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册Org代理客户端配置-->
    <section name ="OrgPoxy" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--Org代理客户端配置-->
  <OrgPoxy>
    <!--Org服务URL。-->    
    <add key="OrgFactoryServiceURL" value="http://irmp.yaesoft.net/org/OrgFactoryService.asmx"/>
    <!--身份认证URL。-->
    <add key="AuthenticationProviderURL" value="http://irmp.yaesoft.net/org/AuthenticationService.asmx"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="OrgPoxyLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </OrgPoxy>

</configuration>