<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册Org配置-->
    <section name ="Org" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--组织架构管理-->
  <Org>
    <!--系统标示-->
    <add key="iPower.SystemID" value="AG000000000000000000000000000000"/>
    <!--系统名称-->
    <add key="iPower.SystemName" value="组织架构管理"/>
    <!--菜单文件地址-->
    <add key="iPower.ModuleDefineConfigFile" value="\Org\App_Data\IRMP_OrgModuleConfig.xml"/>
  </Org>

</configuration>
