<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--注册配置节-->
  <configSections>
    <!--注册安全管理客户端配置-->
    <section name ="SecurityClient" type="iPower.Configuration.iPowerSection,iPower"/>
  </configSections>

  <!--安全管理客户端配置-->
  <SecurityClient>
    <!--权限模块程序集配置-->
    <add key="SecurityPermissionFactoryAssembly" value="http://irmp.yaesoft.net/Security/SecurityPermissionFactoryService.asmx"/>
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SecurityClientLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SecurityClient>

  <system.web>
    <httpModules>
      <!--安全管理-->
      <add name="SecurityClient" type="Yaesoft.IRMP.Security.Client.PermissionModule,Yaesoft.IRMP.Security.Client"/>
    </httpModules>
  </system.web>
</configuration>