<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--注册配置节点-->
  <configSections>
    <!--单点登录客户端配置注册-->
    <section name="SSOClient" type="iPower.Configuration.iPowerSection,iPower" />
    <!--日志配置注册-->
    <section name="Logs" type="iPower.Configuration.iPowerSection,iPower" />
  </configSections>

  <!--单点登录客户端配置-->
  <SSOClient>
    <!--用户验证忽略的页面的正则表达式-->
    <add key="iPower.SSO.IgnoredUrl" value="\/WebResource.axd($|\?.*);Sys/.*login\.aspx($|\?RequestUrl=.*);ErrorPage\.aspx$;Sys/ForgetPassword\.aspx($|\?.*);\.asmx($|[/\?].*)"/>
    <!--登录页面URL。-->
    <add key="iPower.SSO.LoginURL" value="" />
    <!--SSO服务器地址。-->
    <add key="iPower.SSO.ServiceURL" value="http://sso.yaesoft.net/service.asmx"/>
    <!--系统ID。-->
    <add key="iPower.SystemID" value=""/>
    <!--访问授权密码。-->
    <add key="iPower.AuthPwd" value=""/>
    <!--本地数据存储方式-->
    <add key="iPower.SSO.LocalStorage" value="Cookies"/>
    <!--发起登录验证的请求Url的键名称。-->
    <add key="iPower.SSO.RequestUrlName" value="RequestUrl"/>
    <!--本地票据键名称-->
    <add key="iPower.SSO.TicketName" value="ticket"/>
    
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SSOClientLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Hour" />
  </SSOClient>

  <!--日志配置-->
  <Logs>
    <!--日志文件存储目录-->
    <add key="iPower.Logs.StoragePath" value="D:/Logs" />
    <!--分隔符-->
    <add key="iPower.Logs.IntervalMark" value="*" />
    <!--分隔符长度-->
    <add key="iPower.Logs.IntervalMarkLength" value="70" />
    <!--时间格式-->
    <add key="iPower.Logs.DateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--日志文件头-->
    <add key="iPower.Logs.FileHead" value="SSOServiceLog" />
    <!--日志文件生成规则(Year-年，Month-月，Week-周，Date-日， Hour-时)-->
    <add key="iPower.Logs.LogFileRule" value="Week" />
  </Logs>
</configuration>